/* Google Font8*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html {
  font-family: "Nunito";
  font-size: 12px;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(26, 26, 27);
}
.container {
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.brand {
  text-align: center;
  font-size: 4rem;
  color: #87f5d0;
  margin-bottom: 2rem;
}
form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #87f5d0;
  border-radius: 10px;
}
form input {
  width: 90%;
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 600;
}
.fa-search {
  width: 8%;
  color: #1a1616;
  font-size: 1.2rem;
  text-align: center;
}

.btn {
  background-color: #87f5d0;
  width: 30px;
  text-align: center;
  padding-right: 12px;
  border: transparent;
}

.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 40px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  width: 100%;
  border-radius: 8px;
  background-color: #3a3535;
  padding: 15px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #87f5d0;
  margin: 10px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.view-recipe {
  text-decoration: none;
  color: #267ff3;
  text-align: center;
  width: 130px;
  font-size: 1.3rem;
  margin-top: 15px;
  align-self: flex-start;
}

.item-data {
  display: block;
  color: #87f5d0;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  margin-top: 10px;
  text-transform: capitalize;
}
@media screen and (max-width: 480px) {
  .search-result {
    grid-gap: 10px;
  }
  .form input {
    width: 80%;
  }
}
